# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start assets
start essentialmode
start skin
start chat
start spawnmanager
start es_freeroam
start fivem-map-skater
start baseevents
start rconlog
start hardcap # prevents too many players from joining
start lastpostodb
start banking
start es_admin
start gb_vocal
start neverwanted
start essence
start vehcontrol
start MissionText
start msq-directions-hud
start chasse
start paycheck
start vdk_inventory
start nomsjoueurs
start carhud
start metiers
start vdk_recolt
start interiors
start loadingscreen
start gcidentity
start gcInteraction
start garages
start sirencontrols
start gb_needs
start gb_foodshops
start blanchi
start es_slot
start gchelp
start afkkick
start indicators
start carwash
start es_holdup
start gcillegal
start es_weashop
start clotheshop
start barbershop
start taxi
start ambulancier
start accessories_switcher
start co_locvelo
start helicam
start veh_shop
start regulateur
start parachute
start gcphone

sv_scriptHookAllowed 0

# change this
rcon_password yay

sv_hostname "Serwer Testowy"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:76561198020808333 group.admin # add the admin to the group

# hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (default to 24)
sv_maxclients 8